langchain-classic
langchain==1.1.2
langchain-core==1.2.5
langchain-community==0.4.1
langchain-openai==1.1.6
langchain-huggingface==1.1.0
sentence-transformers
faiss-cpu
fastapi
uvicorn
pydantic